.hojasCont {
   min-height: 100vh;
   padding-top: 100px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   justify-content: center;
   align-items: end;
   gap: 25px;
   width: 100%;
   justify-items: center;
   align-content: start;
}

.hojaItem {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   /* Ajusta el tamaño de los contenedores */
   min-height: 150px;
   min-width: 150px;
}